/desktop.ini
/DLIMS.unknown
/download.htm
/drugs and its effect on youth.pptx
/dry+bean+dataset.zip
/Effect_House_v3.9.2.58_102_Setup.exe
/Git-2.44.0-64-bit.exe
/GLP_installer_900223086_market.exe
/grading calculater.ipynb
/gta6.apk
/heart_dieasee.ipynb
/heart_disease_uci.csv
/hepatitis.csv
/JavaCodingPack-0.4.1.exe
/KeyBoardsLayouts.zip
/Laurences_generated_poetry.txt
/lstm_model.pkl
/Microsoft VS Code
/Miniconda3-latest-Windows-x86_64.exe
/percentage calculater.ipynb
/PHOTO ELECTRIC EFFECT.ppsx
/Predicting_the_Next_Word_lstm_project.ipynb
/Programiz-pro-Untitled Project.zip
/python-3.12.0-amd64.exe
/python-3.12.2-amd64.exe
/TANIA MURTAZA 1.docx
/VSCodeUserSetup-x64-1.85.1.exe
/WhatsApp Image 2024-03-10 at 14.07.45_895a8f1e.pdf
/write a program that takes input in.txt